<!DOCTYPE html>
<html>
<head>
</head>
<body>
  <table>
   <tr>
     <th> EURO 2016'DA TAKIMLARIN MAC BASINA GOL ISTATISTIGI </th>
   </tr>
   <tr>
     <td>
        <iframe src="http://localhost:5601/app/kibana#/visualize/create?embed=true&type=pie&indexPattern=uefa&_g=()&_a=(filters:!(),linked:!f,query:(query_string:(analyze_wildcard:!t,query:'*')),uiState:(),vis:(aggs:!((enabled:!t,id:'1',params:(),schema:metric,type:count),(enabled:!t,id:'2',params:(field:goals.keyword,order:asc,orderBy:'1',size:26),schema:segment,type:terms)),listeners:(),params:(addLegend:!t,addTooltip:!t,isDonut:!f,shareYAxis:!t),title:'New%20Visualization',type:pie))" height="600" width="800"></iframe>
     </td>
    </tr>
  </table>
</body>
</html>
